<div class="container">
    <h1>Update User</h1>
   
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="firstName">firstName</label>
            <input 
                formControlName="firstName"
                id="firstName" 
                type="text" 
                [(ngModel)]="user.firstName"
                class="form-control">
           
        </div>

        <div class="form-group">
            <label for="lastName">lastName</label>
            <input 
                formControlName="lastName"
                id="lastName" 
                type="text" 
                [(ngModel)]="user.lastName"
                class="form-control">
           
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input 
                formControlName="age"
                id="age" 
                type="text" 
                [(ngModel)]="user.age"
                class="form-control">
           
        </div>

        <div class="form-group">
            <label for="firstName">Occupation</label>
            <input 
                formControlName="occupation"
                id="occupation" 
                type="text" 
                [(ngModel)]="user.occupation"
                class="form-control">
           
        </div>

        <div class="form-group">
            <label for="transaction">Transaction:</label>
            <select  formControlName="transaction"
            id="transaction" 
            type="text" 
            [(ngModel)]="user.transaction.amount"
            class="form-control">
            <option [value]="transaction.id" *ngFor="let transaction of transactions">{{transaction.amount}}</option>

            </select>
            
        </div>
            
         
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>