<div class="container">
    <h1>Create New User</h1>
  
    <a href="#" routerLink="/user/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="userForm" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input 
                formControlName="firstName"
                id="firstName" 
                type="text" 
                class="form-control">
            <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
                <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">First Name is required.</div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input 
                formControlName="lastName"
                id="lastName" 
                type="text" 
                class="form-control">
            <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
                <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Last Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName">Age:</label>
            <input 
                formControlName="age"
                id="age" 
                type="text" 
                class="form-control">
            <div *ngIf="f['age'].touched && f['age'].invalid" class="alert alert-danger">
                <div *ngIf="f['age'].errors && f['age'].errors['required']">Age is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="occupation">Occupation:</label>
            <input 
                formControlName="occupation"
                id="occupation" 
                type="text" 
                class="form-control">
            <div *ngIf="f['occupation'].touched && f['occupation'].invalid" class="alert alert-danger">
                <div *ngIf="f['occupation'].errors && f['occupation'].errors['required']">Occupation is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName">Transaction:</label>
            <select  formControlName="transaction"
            id="transaction" 
            type="text" 
            class="form-control">
            <option [value]="transaction.id" *ngFor="let transaction of transactions">{{transaction.amount}}</option>

            </select>
            
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Submit</button>
    </form>
</div>